@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}
#container{
    width: 1920px;
    height: 1300px;
}
a{
    text-decoration: none;
}

/* 상단 */
header{
    width: 1920px;
    height: 100px;
    background-color: rgb(0, 0, 0);
}
header .logo{
    width: 1920px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    background: linear-gradient(#d3cce3, #e9e4f0, #f7797d);
    color: transparent;
    font-weight: bold;
    -webkit-background-clip: text;
    float: left;
}
header span{
    width: 450px;
    height: 100px;
    float: left;
}
header .logoku{
    float: right;
    display: none;
    
}
header .logo:hover .logoku{
    display: block;
}

/* 본문 */
.contents{
    width: 1920px;
    height: 1200px;
    background-image: url(../images/배경.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.contents .con{
    /* background-color: bisque; */
    width: 1500px;
    height: 400px;
    margin: auto;
    margin-bottom: 30px;
}
#c1{
    width: 1500px;
    padding-top: 30px;
}
#c1 .img1{
    width: 300px;
    position: relative;
    float: left;
    margin: 30px;
    /* background-color: aquamarine; */
}
.img1 img:nth-child(1){
    width: 325px;
    /* position: absolute; */
    top: 0;
    left: 10px;
}
.img1 img:nth-child(2){
    width: 300px;
    /* position: absolute; */
    top: 0;
    left: 0;
    display: none;
}
.img1:hover img:nth-child(2){
    display:block;
}
.img1:hover img:nth-child(1){
    display: none;
}
#c1 p{
    width: 60%;
    float: left;
    margin: 150px 0 0 50px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(244, 221, 255);
    background-color: rgba(244, 221, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 2px rgba(34, 1, 34,0.5);
}

#c2{
    width: 1500px;
    height: 600px;
}
#c2 .f-ku{
    width: 800px;
    float: right;
}
#c2 img{
    width: 400px;
    position: relative;
    top: 0px;
    left: 200px;
    margin-right: 70px;
}
.f-ku div{
    margin-top: 50px;
    color: rgb(244, 221, 255);
}
#c2 h1{
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 7px 7px 2px rgba(34, 1, 34,0.5);
}
#c2 p{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(244, 221, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 2px rgba(34, 1, 34,0.5);
}
#c2 .imgdiv:hover{
    background: radial-gradient(#ffffff, transparent, transparent);
        /* #d3cce3 0%, #d3cce3 20%
        #e9e4f0 20%, #e9e4f0 50%,
        transparent 50%, transparent 100%); */
}


/* 하단 */
footer{
    width: 1920px;
    height: 100px;
    background-color: #000000;
    position: relative;
}
footer div{
    width: 100px;
    margin: auto;
}
footer span{
    line-height: 100px;
    font-size: 40px;
    color: #e9dfff;
    font-weight: bold;
}
footer img{
    position: absolute;
    bottom: 95px;
    right: 800px;
    display: none;
}
footer span:hover{
    color: #f7797d;
}
footer:hover .foot{
    display: block;
}